header {
  background: #234899;
  padding: 12px;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline-block;
  border: 1px solid #ffffff;
}

header a {
  text-decoration: none;
  color : #ffffff;
  padding: 12px;
  display: block;
}
.hero {
  background: rgb(05, 0, 0) url('images/aesop.jpg') top center no-repeat;
  color : #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  font-family: 'libre baskerville bold',serif;
  font-size: 4em;
  background: rgba(30, 0, 0, 0.75);
  padding: 24px;
}
.odd {
  background: #ffffff;
}

.even {
  background: #234899;
}
.image-block {
  max-width: 640px;
  border: 12px solid #000;
}

.image-block img {
  width : 100%;
display:block;
}
.odd {
  color : #234899;
}

.even {
color : #ffffff;
}

.footer {
  font-family: 'libre baskerville bold',serif;
  font-size: 4em;
  color: #234899;
}
